 /* Container */

  /* Header */

   /* Navigation Bar */
  <ul>
    <li><a href="default.asp">Home</a></li>
    <li><a href="news.asp">News</a></li>
    <li><a href="contact.asp">Contact</a></li>
    <li><a href="about.asp">About</a></li>
  </ul>

  html {
    --backgroundfooter:#DEE1E6;
  }

 /* Contents */

    /* Footer */
  .footer {
    background-color: var(--backgroundfoorter);
    position: fixed;
    bottom:0;
    left:0;
    width:100%;
  }